/* Globals.
 ******************************************************************************************/

html {
  background-color: #444;
  color: #fff;
  font-family: sans-serif;
  font-size: 10pt;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

dialog {
  border-radius: 5px;
  box-shadow: #000 0 0 10px;
}

::backdrop {
  background-color: #000;
  opacity: 0.500;
}

/* General usage tips.
 */
.advice {
  font-style: italic;
}

/* Checkboxes or radio buttons where the whole label is the button.
 * Prefer for inline toggles, where it's not obvious which label the button would attach to.
 * INPUT first, then LABEL, both with class "toggle".
 */
input.toggle {
  display: none;
}
label.toggle {
  border: 1px solid #000;
  padding: 3px 8px;
  margin: 2px;
  background-color: #555;
  cursor: pointer;
  user-select: none;
}
input.toggle:checked + label.toggle {
  background-color: #123;
}

.ModalPickOne {
  display: flex;
  flex-direction: column;
}

.ModalError {
  background-color: #400;
  color: #fff;
  white-space: pre;
  min-width: 50vw;
  min-height: 50vh;
}

/* Root, sidebar, and associated bits.
 *************************************************************************************************/

.RootUi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Without this, we tend to get useless scroll bars for content that fits the available space exactly. */
}
.RootUi > .workbench {
  flex: 1;
  display: flex;
}
.RootUi > .workbench > * {
  width: 100%;
  height: 100%;
}

.SidebarUi {
  min-width: 200px;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.SidebarUi .topRow {
  display: flex;
  flex-direction: row;
  padding: 4px;
  gap: 4px;
}
.SidebarUi .backendIndicator {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 2px solid #000;
  background-color: #888;
}
.SidebarUi .backendIndicator.clean {
  background-color: #080;
}
.SidebarUi .backendIndicator.dirty {
  background-color: #ff0;
}
.SidebarUi .backendIndicator.pending {
  background-color: #f80;
}
.SidebarUi .backendIndicator.error {
  background-color: #f00;
}
.SidebarUi .toc {
  overflow-y: scroll;
  flex: 1;
}
.SidebarUi details.type {
  margin-top: 5px;
}
.SidebarUi summary.type {
  background-color: #103;
  cursor: pointer;
  user-select: none;
}
.SidebarUi .res {
  cursor: pointer;
  user-select: none;
}
.SidebarUi .res:hover {
  background-color: #333;
}

.NewResourceModal {
  min-width: 400px;
}
.NewResourceModal h2 {
  margin: 0;
}
.NewResourceModal table {
  width: 100%;
}
.NewResourceModal td.value > input {
  width: 100%;
}
.NewResourceModal .bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ResourceDetailsModal .path {
  font-size: 14pt;
  font-weight: bold;
}
.ResourceDetailsModal input[name='npath'] {
  min-width: 300px;
}
.ResourceDetailsModal .editors {
  display: flex;
  flex-direction: column;
}
.ResourceDetailsModal .editor.great {
  background-color: #0c0;
}
.ResourceDetailsModal .editor.good {
  background-color: #898;
}
.ResourceDetailsModal .editor.bad {
  background-color: #f66;
}

/* Minor standard editors.
 ****************************************************************************************/

.TextEditor textarea {
  box-sizing: border-box;
  width: 100%;
  height: 99%;
  background-color: #012;
  color: #fff;
  font-family: monospace;
}

.HexEditor textarea {
  box-sizing: border-box;
  width: 100%;
  height: 99%; /* At 100%, it goes 3px taller than the container and forces scroll bars. Why??? */
  background-color: #201;
  color: #fff;
  font-family: monospace;
}

.ImageEditor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ImageEditor img {
  width: 80%;
  height: 80%;
  image-rendering: pixelated;
  object-fit: contain;
}

/* Tilesheet
 *************************************************************************************/

.TilesheetEditor {
  background-color: #020;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.TilesheetEditor .toolbar {
  background-color: #666;
  border-bottom: 1px solid #000;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.TilesheetEditor .toolbar > .spacer {
  margin-left: 5px;
  border-left: 1px solid #000;
  margin-right: 5px;
  height: 15px;
}
.TilesheetEditor .toolbar > .tattle {
  background-color: #000;
  color: #0f0;
  padding: 3px 6px;
  font-family: monospace;
}
.TilesheetEditor .canvas {
  flex: 1;
}

.TileModal {
  display: flex;
  flex-direction: column;
}
.TileModal > .topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.TileModal .tileid {
  font-weight: bold;
  font-size: 24pt;
  font-family: monospace;
  margin: 10px;
}
.TileModal table.neighbors tr {
  height: 20px;
}
.TileModal table.neighbors td[data-mask] {
  border: 1px solid #888;
  width: 20px;
  cursor: pointer;
}
.TileModal table.neighbors td.present {
  background-color: #080;
}
.TileModal .thumbnail {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
}
.TileModal td.key {
  text-align: right;
  width: 100px;
}
.TileModal td.desc {
  font-style: italic;
  width: 200px;
}
.TileModal .macros {
  display: grid;
  grid-template-columns: 50% 50%;
}
.TileModal .macros > button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.TileModal .macroPreview {
  width: 64px;
  height: 64px;
  margin-right: 5px;
  object-fit: contain;
}

/* Decalsheet
 *********************************************************************************/
 
.DecalsheetEditor {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.DecalsheetEditor .sidebar {
  min-width: 300px;
  border-right: 1px solid #000;
  overflow-y: scroll;
}
.DecalsheetEditor .panel {
  padding: 5px;
  border: 1px solid #000;
  background-color: #040;
}
.DecalsheetEditor .panel:nth-child(odd) {
  background-color: #020;
}
.DecalsheetEditor .spacer {
  flex: 1;
}
.DecalsheetEditor input[name='comment'] {
  box-sizing: border-box;
  width: 100%;
}
.DecalsheetEditor input.coords {
  flex: 1;
}
.DecalsheetEditor .panel:hover input {
  background-color: #def;
}
.DecalsheetEditor .panel input.autoSetting {
  background-color: #ff0;
}
.DecalsheetEditor .previewWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.DecalsheetEditor .preview {
  /* width,height:100% and object-fit:contain work great for display purposes, but then it is impossible to project mouse coordinates into canvas space.
   * So instead, CSS will center the canvas in its wrapper, and JS will scale it up to the available space.
   */
  image-rendering: pixelated;
  position: absolute;
}
